/**********      TAGS      **********/
body {
  font-family: "Architects Daughter", cursive;
  margin: 0;
  text-align: center;
}

h1 {
  color: #da7f8f;
  font-family: "Covered By Your Grace", cursive;
  font-size: 6rem;
  margin: 28vh auto 0;
}

h2 {
  color: #da7f8f;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #da7f8f;
  font-size: 1.8rem;
  font-weight: normal;
}

p {
  line-height: 2;
  font-size: 1.25rem;
}

hr {
  border-color: #8f8f8f;
  border-style: none;
  border-top-style: dashed;
  border-width: 2px;
  padding-bottom: 10px;
  margin-top: 50px;
  width: 5.5%;
}

/**********    CLASS    **********/
.top {
  background-color: #e1e5ea;
  padding-top: 100px;
  position: relative;
}

.mid {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 50px;
}

.bottom {
  background-color: #da7f8f;
  padding-top: 20px;
}

.top-cloud {
  position: absolute;
  right: 22.4%;
  top: 13%;
}

.bottom-cloud {
  bottom: 40%;
  position: absolute;
  left: 22.4%;
}

.profile-pic {
  border-radius: 80px;
  height: 80px;
  width: 80px;
}

.skill-icon-1 {
  float: left;
  margin-top: 15px;
  margin-right: 30px;
  width: 25%;
}

.skill-icon-2 {
  float: right;
  margin-top: 15px;
  margin-left: 30px;
  width: 25%;
}

.skill-row {
  line-height: 2;
  margin: 50px auto;
  text-align: left;
  width: 40%;
}
.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #da7f8f;
  color: #eaf6f6;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 100;
  padding: 12px;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #eaf6f6;
  color: #da7f8f;
  text-decoration: none;
  border: 1px solid #da7f8f;
}

.footer-link,
.copyright {
  color: #eaf6f6;
  font-size: 1.3rem;
}
